h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: medium;
}

.center {
    text-align: center;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

#paddedbox {
    padding: 20px;
}

body {
    background-color: #16c0c9;
}

p {
    font: normal 1rem Arial;
}

.fList{
    font: normal 1rem Arial;
}

a:link { 
    color: #2346C8; 
} 

a:visited { 
    color: #303282; 
}

a:hover { 
    color: #d1c70a; 
}

ul>li>a>p {
    font-size: 12px;
}

ul>li>a:hover {
    text-decoration: solid;
}

ul>li>a {
    color:black
}

.button{
    width: 40px;
}

.indent1 {
    padding-left: 40px;
}

.indent2 {
    padding-left: 20px;
}